# Binaries
*.exe
*.dll
*.so
*.dylib
*.out

# Build directory
/build/
bin/
dist/

.env

# Go test binary
*.test

# Vendor directory (if using vendoring with go mod vendor)
vendor/

# Go module files
go.sum

backup_tasks.json

demo_files/*

# IDE and editor settings
.idea/
.vscode/
*.swp

# Dependency and package caches
.gopath/
*.log

Auto_backup/

# macOS specific files
.DS_Store

# Git specific files
*.patch
